.card {
  max-width: 35rem;

  &__title-row {
    display: flex;
    align-items: flex-end;
  }

  &__platform {
    display: flex;
    margin-top: 0.8rem;

    &-image {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
  }
}
