.auth__container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.tab__label {
  font-size: 1.6rem;
}

.form {
  &__textfield-div:not(:first-child) {
    margin-top: 1.1rem;
  }

  &__textfield {
    width: 100%;
    font-size: 2rem;
  }
}
